<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.albeepoint.core.biz.point.repository.PtMstMapper">
    <sql id="comSelectUseTargetList">
        /* 사용요청 처리시에는 reqPt(사용요청포인트) 입력하고, 사용선조회시에는 reqPt(사용요청포인트) 미입력으로 최대사용가능포인트 조회 */
        SELECT
                B.LIMIT_YN, B.PT_NO, B.MEMBER_PT_NO, C.CONT_NO, C.CONT_NM, B.BAL_PT, B.ISU_DT, B.USE_END_DT, B.ACC_BAL_PT
          FROM (SELECT
                      LIMIT_YN, PT_NO, MEMBER_PT_NO, CONT_NO, BAL_PT, ISU_DT, USE_END_DT
                     ,SUM(ACC_BAL_PT) OVER (ORDER BY USE_END_DT ASC, ISU_DT ASC, BAL_PT DESC, PT_NO ASC) AS ACC_BAL_PT
                FROM (
                    SELECT
                        (CASE WHEN CM.ONCE_USE_LIMIT_TYPE_CD IS NULL OR CM.ONCE_USE_LIMIT_TYPE_CD IN ('NONE', 'MIN')
                              THEN 0 ELSE 1 END) AS LIMIT_YN,
                        PM.PT_NO, PM.MEMBER_PT_NO, PM.CONT_NO, PM.BAL_PT, ID.ISU_DT, PM.USE_END_DT, ID.ACC_BAL_PT
                      FROM T_PT_MST PM
                           INNER JOIN T_CONT_MST CM ON CM.CONT_NO = PM.CONT_NO AND CM.PT_TYPE_CD = 'MILEAGE' AND CM.CONT_STS_CD = 'NORMAL'
                                AND (CURRENT_TIMESTAMP(6) BETWEEN CM.START_DT AND CM.END_DT)
                                AND (CURRENT_TIMESTAMP(6) BETWEEN CM.USE_START_DT AND CM.USE_END_DT)
                                <if test = 'contNoList  != null and contNoList != "" and contNoList.size > 0'>
                                    AND CM.CONT_NO IN
                                    <foreach collection="contNoList" item="contNo" index="index" separator="," open="(" close=")">
                                        #{contNo}
                                    </foreach>
                                </if>
                           INNER JOIN
                           (
                           SELECT T1.TR_SNO, T1.TR_SEQ, T1.PT_NO, T1.TR_DT AS ISU_DT, T2.ACC_BAL_PT
                            FROM T_TR_HIST_DETAIL T1
                                INNER JOIN (
                                    SELECT TT.TR_SNO, TT.TR_SEQ, TT.ACC_BAL_PT
                                     FROM (SELECT THD.TR_SNO,
                                                  THD.TR_SEQ,
                                                  THD.PT_NO,
                                                  THD.CONT_NO,
                                                  THD.TR_PT AS ISU_PT,
                                                  PMB.BASE_BAL_PT,
                                                  SUM(THD.TR_PT) OVER (ORDER BY THD.TR_SNO ASC, THD.TR_SEQ ASC) AS ACC_BAL_PT
                                           FROM T_TR_HIST_DETAIL THD
                                                    -- 마일리지형은 동일일자 여러건 적립시 일자별로 PT_MST를 누적 관리하므로 차감된 포인트를 제외한 포인트들중에서
                                                    -- 가장 먼저 적립한 ISU_DT를 유추함
                                                    INNER JOIN (SELECT PM1.PT_NO,
                                                                       (SUM(PM1.USE_PT) + SUM(PM1.ISU_CANCEL_PT) - SUM(PM1.USE_CANCEL_PT)) AS BASE_BAL_PT
                                                                FROM T_PT_MST PM1
                                                                WHERE PM1.MEMBER_NO = #{memberNo}
                                                                  AND PM1.BAL_PT <![CDATA[ > ]]> 0
                                                                  AND (CURRENT_TIMESTAMP(6) BETWEEN PM1.USE_START_DT AND PM1.USE_END_DT)
                                                                GROUP BY PM1.PT_NO) AS PMB
                                                               ON PMB.PT_NO = THD.PT_NO
                                           WHERE THD.PT_NO = PMB.PT_NO
                                             AND THD.MEMBER_NO = #{memberNo}
                                             AND THD.TR_GB_CD = 'S001'
                                             AND THD.BEF_BAL_PT  <![CDATA[ <= ]]> PMB.BASE_BAL_PT
                                           GROUP BY THD.TR_SNO, THD.TR_SEQ, THD.PT_NO, THD.CONT_NO, THD.TR_PT
                                           ORDER BY THD.TR_SNO DESC, THD.TR_SEQ DESC) TT
                                     WHERE TT.ACC_BAL_PT  <![CDATA[ >= ]]> TT.BASE_BAL_PT
                                        <if test = 'reqPt  != null and reqPt != ""'>
                                            AND TT.ACC_BAL_PT  <![CDATA[ < ]]> #{reqPt}
                                        </if>
                                     ORDER BY TT.TR_SNO DESC, TT.TR_SEQ DESC
                                     ) AS T2
                                    ON T1.TR_SNO = T2.TR_SNO AND T1.TR_SEQ = T2.TR_SEQ
                            ) AS ID
                           ON ID.PT_NO = PM.PT_NO
                      WHERE PM.EXP_DT <![CDATA[ > ]]> CURRENT_TIMESTAMP(6) AND PM.BAL_PT > 0
                      UNION ALL
                      SELECT LIMIT_YN, PT_NO, MEMBER_PT_NO, CONT_NO, BAL_PT, ISU_DT, USE_END_DT, ACC_BAL_PT
                      FROM (
                          SELECT
                                (CASE WHEN CM.ONCE_USE_LIMIT_TYPE_CD IS NULL OR CM.ONCE_USE_LIMIT_TYPE_CD IN ('NONE', 'MIN')
                                      THEN 0 ELSE 1 END) AS LIMIT_YN,
                                PM.PT_NO, PM.MEMBER_PT_NO, PM.CONT_NO, PM.BAL_PT, PM.ISU_DT, PM.USE_END_DT,
                                SUM(PM.BAL_PT) OVER (ORDER BY PM.USE_END_DT ASC, PM.BAL_PT DESC, PM.PT_NO ASC) AS ACC_BAL_PT
                          FROM T_PT_MST PM
                                   INNER JOIN T_CONT_MST CM ON CM.CONT_NO = PM.CONT_NO AND CM.PT_TYPE_CD = 'COUPON' AND CM.CONT_STS_CD = 'NORMAL'
                                       AND (CURRENT_TIMESTAMP(6) BETWEEN CM.START_DT AND CM.END_DT)
                                       AND (CURRENT_TIMESTAMP(6) BETWEEN CM.USE_START_DT AND CM.USE_END_DT)
                                       <if test = 'contNoList  != null and contNoList != "" and contNoList.size > 0'>
                                           AND CM.CONT_NO IN
                                           <foreach collection="contNoList" item="contNo" index="index" separator="," open="(" close=")">
                                               #{contNo}
                                           </foreach>
                                       </if>
                          WHERE PM.MEMBER_NO = #{memberNo}
                            AND PM.EXP_DT <![CDATA[ > ]]> CURRENT_TIMESTAMP(6) AND PM.BAL_PT > 0
                            AND (CURRENT_TIMESTAMP(6) BETWEEN PM.USE_START_DT AND PM.USE_END_DT)
                          ORDER BY PM.USE_END_DT ASC, PM.BAL_PT DESC, PM.PT_NO ASC
                      ) AS C
                      ORDER BY LIMIT_YN DESC, USE_END_DT ASC, ISU_DT ASC, BAL_PT DESC, PT_NO ASC
                ) AS A
                ORDER BY LIMIT_YN DESC, USE_END_DT ASC, ISU_DT ASC, BAL_PT DESC, PT_NO ASC
                ) AS B
                INNER JOIN CONT_MST C ON B.CONT_NO = C.CONT_NO
    </sql>

    <sql id="comSelectUseCancelTargetList">
        SELECT B.PT_NO, B.MEMBER_PT_NO, B.TR_SNO, B.TR_SEQ, CM.CONT_NO, CM.CONT_NM, B.BAL_PT
                   , B.USE_PT /* 원거래에서 사용된 포인트 */
                   , B.NET_TOTAL_USE_PT /* PT_NO 에 해당하는 순수 사용포인트의 합계(다수 거래 발생시 모두 합계) */
                   , B.SUM_USE_PT /* 순수 사용포인트 합계의 누적 */
       FROM
        (SELECT PT_NO
              , MEMBER_PT_NO
              , CONT_NO
              , TR_SNO
              , TR_SEQ
              , BAL_PT
              , USE_PT
              , NET_TOTAL_USE_PT
              , SUM(NET_TOTAL_USE_PT) OVER (ORDER BY TR_SNO DESC, TR_SEQ DESC) AS SUM_USE_PT
         FROM (SELECT PM.PT_NO,
                      PM.MEMBER_PT_NO,
                      PM.CONT_NO,
                      THD.TR_SNO,
                      THD.TR_SEQ,
                      PM.BAL_PT,
                      THD.TR_PT                      AS USE_PT,
                      (PM.USE_PT - PM.USE_CANCEL_PT) AS NET_TOTAL_USE_PT
                   FROM T_PT_MST PM
                            INNER JOIN T_CONT_MST CM ON CM.CONT_NO = PM.CONT_NO AND CM.CONT_STS_CD = 'NORMAL'
                                 AND (CURRENT_TIMESTAMP(6) BETWEEN CM.START_DT AND CM.END_DT)
                                 AND (CURRENT_TIMESTAMP(6) BETWEEN CM.USE_START_DT AND CM.USE_END_DT)
                            INNER JOIN T_TR_HIST_DETAIL THD ON THD.TR_SNO = #{trSno} AND PM.PT_NO = THD.PT_NO
                   WHERE (CURRENT_TIMESTAMP(6) BETWEEN PM.USE_START_DT AND PM.USE_END_DT)  /* 포인트 사용기간 이내이어야 사용취소 가능함  */
                   ORDER BY TR_SEQ DESC) A
             ORDER BY TR_SNO DESC, TR_SEQ DESC) AS B
            INNER JOIN T_CONT_MST CM ON CM.CONT_NO = B.CONT_NO
        ORDER BY TR_SNO DESC, TR_SEQ DESC
    </sql>

    <select id="selectSeqPtMstNo" resultType="Long">
        SELECT nextval(SEQ_PT_MST_NO);
    </select>
<!-- 
    <insert id="insertPtMst" parameterType="PtMstEntity">
        INSERT INTO PT_MST
        (
            PT_NO
            ,MEMBER_PT_NO
            ,MEMBER_NO
            ,CONT_NO
            ,ORG_NO
            ,ISU_DY
            ,ISU_DT
            ,BAL_PT
            ,ISU_PT
            ,ISU_CANCEL_PT
            ,USE_PT
            ,USE_CANCEL_PT
            ,USE_START_DT
            ,USE_END_DT
            ,EXP_DT
            ,REG_USER_ID
            ,REG_DT
            ,LAST_MOD_USER_ID
            ,LAST_MOD_DT
        ) VALUES
            (
                #{ptNo, jdbcType=NUMERIC}
                ,#{memberPtNo, jdbcType=NUMERIC}
                ,#{memberNo, jdbcType=NUMERIC}
                ,#{contNo, jdbcType=NUMERIC}
                ,#{orgNo, jdbcType=NUMERIC}
                ,DATE_FORMAT(CURRENT_TIMESTAMP(6), '%Y%m%d')
                ,CURRENT_TIMESTAMP(6)
                ,#{balPt, jdbcType=NUMERIC}
                ,#{isuPt, jdbcType=NUMERIC}
                ,#{isuCancelPt, jdbcType=NUMERIC}
                ,#{usePt, jdbcType=NUMERIC}
                ,#{useCancelPt, jdbcType=NUMERIC}
                ,#{useStartDt, jdbcType=TIMESTAMP}
                ,DATE_ADD(DATE_ADD(#{useEndDt, jdbcType=TIMESTAMP}, INTERVAL 1 SECOND), INTERVAL -0.000001 SECOND)
                ,#{expDt, jdbcType=TIMESTAMP}
                ,#{regUserId, jdbcType=VARCHAR}
                ,CURRENT_TIMESTAMP(6)
                ,#{lastModUserId, jdbcType=VARCHAR}
                ,CURRENT_TIMESTAMP(6)
            )
    </insert> -->

    <select id="selectPtMst" parameterType="PtSearch"  resultType="PtMstEntity">
        SELECT
            PT_NO
             ,MEMBER_PT_NO
             ,MEMBER_NO
             ,CONT_NO
             ,ORG_NO
             ,ISU_DY
             ,ISU_DT
             ,BAL_PT
             ,ISU_PT
             ,ISU_CANCEL_PT
             ,USE_PT
             ,USE_CANCEL_PT
             ,USE_START_DT
             ,USE_END_DT
             ,EXP_DT
             ,REG_USER_ID
             ,REG_DT
             ,LAST_MOD_USER_ID
             ,LAST_MOD_DT
        FROM T_PT_MST
        WHERE 1 = 1
        <if test = 'ptNo  != null and ptNo != ""'>
            AND PT_NO = #{ptNo}
        </if>
        <if test = 'memberNo  != null and memberNo != ""'>
            AND MEMBER_NO = #{memberNo}
        </if>
        <if test = 'contNo  != null and contNo != ""'>
            AND CONT_NO = #{contNo}
        </if>
        <if test = 'isuDy  != null and isuDy != ""'>
            AND ISU_DY = #{isuDy}
        </if>
    </select>

    <select id="selectPtMstCalcBefAfrBalPt" parameterType="CalcBefAfrBalDto"  resultType="CalcBefAfrBalDto">
        SELECT
              pm.PT_NO
             ,CASE WHEN #{trGbCd} = 'S001' THEN pm.BAL_PT - #{trPt}
                   WHEN #{trGbCd} = 'SC01' THEN pm.BAL_PT + #{trPt}
                   WHEN #{trGbCd} = 'U001' THEN pm.BAL_PT + #{trPt}
                   WHEN #{trGbCd} = 'UC01' THEN pm.BAL_PT - #{trPt}
                   WHEN #{trGbCd} = 'EX01' THEN pm.BAL_PT + #{trPt}
              END AS BEF_BAL_PT
             ,CASE WHEN #{trGbCd} = 'S001' THEN pm.BAL_PT
                   WHEN #{trGbCd} = 'SC01' THEN pm.BAL_PT
                   WHEN #{trGbCd} = 'U001' THEN pm.BAL_PT
                   WHEN #{trGbCd} = 'UC01' THEN pm.BAL_PT
                   WHEN #{trGbCd} = 'EX01' THEN pm.BAL_PT
              END AS AFR_BAL_PT
        FROM T_PT_MST pm
        WHERE pm.PT_NO = #{ptNo}
    </select>

    <select id="selectBalPtSum" parameterType="PtSearch"  resultType="Long">
        /* 포인트마스터의 유효 잔여 포인트 합계  */
        SELECT
            COALESCE(SUM(pm.BAL_PT), 0)
        FROM T_PT_MST pm
             INNER JOIN T_CONT_MST cm ON cm.CONT_NO = pm.CONT_NO
                         AND CURRENT_TIMESTAMP(6) BETWEEN cm.START_DT AND cm.END_DT
                         AND cm.CONT_STS_CD = 'NORMAL'
        WHERE
            pm.CONT_NO = #{contNo}
         AND pm.MEMBER_NO = #{memberNo}
         AND pm.USE_END_DT  <![CDATA[ > ]]> CURRENT_TIMESTAMP(6)
         AND pm.EXP_DT <![CDATA[ > ]]> CURRENT_TIMESTAMP(6)
         AND pm.BAL_PT > 0
    </select>

    <select id="selectMultiContBalPtSum" parameterType="PtSearch"  resultType="PtReqDto">
        /* 포인트마스터의 유효 잔여 포인트 합계  */
        SELECT
            pm.CONT_NO, COALESCE(SUM(pm.BAL_PT), 0) AS CONT_BAL_PT
        FROM T_PT_MST pm
             INNER JOIN T_CONT_MST cm ON cm.CONT_NO = pm.CONT_NO
                         AND CURRENT_TIMESTAMP(6) BETWEEN cm.START_DT AND cm.END_DT
                         AND cm.CONT_STS_CD = 'NORMAL'
        WHERE
         pm.CONT_NO IN
        <foreach collection="contNoList" item="contNo" index="index" separator="," open="(" close=")">
            #{contNo}
        </foreach>
         AND pm.MEMBER_NO = #{memberNo}
         AND pm.USE_END_DT  <![CDATA[ > ]]> CURRENT_TIMESTAMP(6)
         AND pm.EXP_DT <![CDATA[ > ]]> CURRENT_TIMESTAMP(6)
         AND pm.BAL_PT > 0
         GROUP BY pm.CONT_NO
    </select>

    <select id="selectUseTargetListByReqPt" parameterType="PtSearch" resultType="PtMstTargetDto">
        /* 사용요청 처리시에는 reqPt(사용요청포인트) 입력, 사용선조회시에는 reqPt(사용요청포인트) 미입력으로 최대사용가능포인트 조회 */
        WITH TARGET_TABLE (
            LIMIT_YN, PT_NO, MEMBER_PT_NO, CONT_NO, CONT_NM, BAL_PT, ISU_DT, USE_END_DT, ACC_BAL_PT
        ) AS (
            <include refid="comSelectUseTargetList"></include>
        )
        (
            SELECT
                @num:=@num+1 AS TR_SEQ, LIMIT_YN, PT_NO, MEMBER_PT_NO, CONT_NO, CONT_NM, BAL_PT, ACC_BAL_PT
               , (CASE WHEN GB = 0 THEN SUM(USE_PT) OVER (ORDER BY @num ASC)
                       WHEN GB = 1 THEN BAL_PT - SUM(USE_PT) OVER (ORDER BY @num ASC)
                 END) AS USE_PT
            FROM
                (SELECT @num:=0) AS n,
                (
                    (
                        SELECT 0 AS GB, LIMIT_YN, PT_NO, MEMBER_PT_NO, CONT_NO, CONT_NM, BAL_PT, ACC_BAL_PT, BAL_PT AS USE_PT
                          FROM T_TARGET_TABLE TT1
                        <if test = 'reqPt  != null and reqPt != ""'>
                            WHERE ACC_BAL_PT <![CDATA[ < ]]> #{reqPt}
                        </if>
                    )
                    <if test = 'reqPt  != null and reqPt != ""'>
                    UNION ALL
                    (
                        SELECT 1 AS GB, LIMIT_YN, PT_NO, MEMBER_PT_NO, CONT_NO, CONT_NM, BAL_PT, ACC_BAL_PT, BAL_PT- #{reqPt} AS USE_PT
                          FROM T_TARGET_TABLE TT2
                        WHERE ACC_BAL_PT  <![CDATA[ >= ]]> #{reqPt}
                         LIMIT 1
                    )
                    </if>
                ) AS A
        )
    </select>

    <select id="selectUseCancelTargetListByReqPt" parameterType="PtSearch" resultType="PtMstTargetDto">
        /* 사용취소요청 처리 대상 조회 */
        WITH TARGET_TABLE (
            PT_NO, MEMBER_PT_NO, TR_SNO, TR_SEQ, CONT_NO, CONT_NM, BAL_PT, USE_PT, NET_TOTAL_USE_PT, SUM_USE_PT
        ) AS (
            <include refid="comSelectUseCancelTargetList"></include>
        )
        (
            SELECT TR_SNO AS ORGL_TR_SNO, @num:=@num+1 AS TR_SEQ, PT_NO, MEMBER_PT_NO, CONT_NO, CONT_NM, BAL_PT, USE_PT
                , USE_CANCEL_PT
            FROM (SELECT @num:=0) AS n,
                (
                    SELECT PT_NO, MEMBER_PT_NO, TR_SNO, TR_SEQ, CONT_NO, CONT_NM, BAL_PT, USE_PT, SUM_USE_PT
                    ,(CASE WHEN GB = 0 THEN USE_PT - (USE_PT - NET_TOTAL_USE_PT)
                          WHEN GB = 1 THEN #{reqPt} - SUM(USE_CANCEL_PT) OVER(ORDER BY TR_SNO DESC, TR_SEQ DESC) + USE_CANCEL_PT
                     END) AS USE_CANCEL_PT
                    FROM
                     (
                         (SELECT  0 AS GB, PT_NO, MEMBER_PT_NO, TR_SNO, TR_SEQ, CONT_NO, CONT_NM, BAL_PT, USE_PT, NET_TOTAL_USE_PT, SUM_USE_PT
                          , USE_PT AS USE_CANCEL_PT
                         FROM TARGET_TABLE TT1
                         WHERE SUM_USE_PT <![CDATA[ < ]]> #{reqPt})
                         UNION ALL
                         (SELECT  1 AS GB, PT_NO, MEMBER_PT_NO, TR_SNO, TR_SEQ, CONT_NO, CONT_NM, BAL_PT, USE_PT, NET_TOTAL_USE_PT, SUM_USE_PT
                          , 9840 - USE_PT AS USE_CANCEL_PT
                         FROM TARGET_TABLE TT2
                         WHERE SUM_USE_PT  <![CDATA[ >= ]]> #{reqPt}
                         LIMIT 1)
                     ) AS A
                    ORDER BY TR_SNO DESC, TR_SEQ DESC
                ) AS B
        )
    </select>

    <select id="selectBalPtTargetListByReqPt" parameterType="PtSearch" resultType="PtMstTargetDto">
        WITH TARGET_TABLE (
            PT_NO
            ,MEMBER_PT_NO
            ,CONT_NO
            ,CONT_NM
            ,USE_END_DT
            ,BAL_PT
            ,ACC_BAL_PT
        ) AS (
            SELECT
                 pm.PT_NO
                ,pm.MEMBER_PT_NO
                ,pm.CONT_NO
                ,cm.CONT_NM
                ,pm.USE_END_DT
                ,SUM(pm.BAL_PT) AS BAL_PT
                ,SUM(SUM(pm.BAL_PT)) OVER(ORDER BY pm.PT_NO DESC, pm.USE_END_DT ASC) AS ACC_BAL_PT
            FROM T_PT_MST pm
                INNER JOIN T_CONT_MST cm ON cm.CONT_NO = pm.CONT_NO
                            AND CURRENT_TIMESTAMP(6) BETWEEN cm.START_DT AND cm.END_DT
                            AND cm.CONT_STS_CD = 'NORMAL'
            WHERE MEMBER_NO = #{memberNo} AND BAL_PT > 0
             AND pm.USE_END_DT <![CDATA[ > ]]> CURRENT_TIMESTAMP(6)
             AND pm.EXP_DT <![CDATA[ > ]]> CURRENT_TIMESTAMP(6)
                <if test = 'contNoList  != null and contNoList != "" and contNoList.size > 0'>
                    AND pm.CONT_NO IN
                    <foreach collection="contNoList" item="contNo" index="index" separator="," open="(" close=")">
                        #{contNo}
                    </foreach>
                </if>
            GROUP BY pm.PT_NO, pm.MEMBER_PT_NO, pm.CONT_NO, cm.CONT_NM, pm.USE_END_DT
            ORDER BY pm.PT_NO DESC, pm.USE_END_DT ASC
        )
        (
            SELECT
                PT_NO
                ,MEMBER_PT_NO
                ,CONT_NO
                ,CONT_NM
                ,USE_END_DT
                ,BAL_PT
                ,REQ_PT
                ,ACC_BAL_PT
            FROM
            (
                (
                    (
                    SELECT
                        PT_NO
                        ,MEMBER_PT_NO
                        ,CONT_NO
                        ,CONT_NM
                        ,USE_END_DT
                        ,BAL_PT
                        ,BAL_PT AS REQ_PT
                        ,ACC_BAL_PT
                    FROM TARGET_TABLE
                    WHERE ACC_BAL_PT <![CDATA[ < ]]> #{reqPt}
                    )
                    UNION ALL
                    (
                    SELECT
                        PT_NO
                        ,MEMBER_PT_NO
                        ,CONT_NO
                        ,CONT_NM
                        ,USE_END_DT
                        ,BAL_PT
                        ,(BAL_PT - (ACC_BAL_PT - #{reqPt})) AS REQ_PT
                        ,(ACC_BAL_PT - (ACC_BAL_PT - #{reqPt})) AS ACC_BAL_PT
                    FROM TARGET_TABLE
                    WHERE ACC_BAL_PT <![CDATA[ >= ]]> #{reqPt}
                    LIMIT 1
                    )
                )
            ) A
            ORDER BY PT_NO DESC, USE_END_DT ASC
        )
    </select>

    <update id="updateUsePtMst" parameterType="PtReqDto">
        UPDATE T_PT_MST
        SET   BAL_PT = BAL_PT - #{reqPt}
              ,USE_PT = USE_PT + #{reqPt}
              ,LAST_MOD_USER_ID = #{lastModUserId, jdbcType=VARCHAR}
              ,LAST_MOD_DT= CURRENT_TIMESTAMP(6)
        WHERE
            PT_NO = #{ptNo}
    </update>

    <update id="updateUseCancelPtMst" parameterType="PtReqDto">
        UPDATE T_PT_MST
        SET   BAL_PT = BAL_PT + #{reqPt}
              ,USE_CANCEL_PT = USE_CANCEL_PT + #{reqPt}
              ,LAST_MOD_USER_ID = #{lastModUserId, jdbcType=VARCHAR}
              ,LAST_MOD_DT= CURRENT_TIMESTAMP(6)
        WHERE
            PT_NO = #{ptNo}
    </update>

    <update id="updateIsuPtMst" parameterType="PtReqDto">
        UPDATE T_PT_MST
           SET   BAL_PT = BAL_PT + #{reqPt}
               ,ISU_PT = ISU_PT + #{reqPt}
               ,LAST_MOD_USER_ID = #{lastModUserId, jdbcType=VARCHAR}
               ,LAST_MOD_DT= CURRENT_TIMESTAMP(6)
        WHERE
            PT_NO = #{ptNo}
    </update>

    <update id="updateIsuCancelPtMst" parameterType="PtReqDto">
        UPDATE T_PT_MST
           SET   BAL_PT = BAL_PT - #{reqPt}
               ,ISU_CANCEL_PT = ISU_CANCEL_PT + #{reqPt}
               ,LAST_MOD_USER_ID = #{lastModUserId, jdbcType=VARCHAR}
               ,LAST_MOD_DT= CURRENT_TIMESTAMP(6)
        WHERE
            PT_NO = #{ptNo}
    </update>


    <update id="updateMultiUsePtMst" parameterType="PtSearch">
        UPDATE T_PT_MST pm
        JOIN (
            <foreach collection="ptReqList" item="ptReqDto" index="index" separator="UNION ALL" open=" " close=" ">
                SELECT #{ptReqDto.ptNo} AS PT_NO, #{ptReqDto.reqPt} AS REQ_PT
            </foreach>
            ) tt ON tt.PT_NO = pm.PT_NO
        SET   pm.BAL_PT = pm.BAL_PT - tt.REQ_PT
            ,pm.USE_PT = pm.USE_PT + tt.REQ_PT
            ,pm.LAST_MOD_USER_ID = #{lastModUserId, jdbcType=VARCHAR}
            ,pm.LAST_MOD_DT= CURRENT_TIMESTAMP(6)
    </update>


    <update id="updateMultiUseCancelPtMst" parameterType="PtSearch">
        UPDATE T_PT_MST pm
        JOIN (
            <foreach collection="ptReqList" item="ptReqDto" index="index" separator="UNION ALL" open=" " close=" ">
                SELECT #{ptReqDto.ptNo} AS PT_NO, #{ptReqDto.reqPt} AS REQ_PT
            </foreach>
            ) tt ON tt.PT_NO = pm.PT_NO
        SET   pm.BAL_PT = pm.BAL_PT + tt.REQ_PT
            ,pm.USE_CANCEL_PT = pm.USE_CANCEL_PT + tt.REQ_PT
            ,pm.LAST_MOD_USER_ID = #{lastModUserId, jdbcType=VARCHAR}
            ,pm.LAST_MOD_DT= CURRENT_TIMESTAMP(6)
    </update>

    <update id="updateMultiIsuCancelPtMst" parameterType="PtSearch">
        UPDATE T_PT_MST pm
        JOIN (
            <foreach collection="ptReqList" item="ptReqDto" index="index" separator="UNION ALL" open=" " close=" ">
                SELECT #{ptReqDto.ptNo} AS PT_NO, #{ptReqDto.reqPt} AS REQ_PT
            </foreach>
            ) tt ON tt.PT_NO = pm.PT_NO
        SET   pm.BAL_PT = pm.BAL_PT - tt.REQ_PT
            ,pm.ISU_CANCEL_PT = pm.ISU_CANCEL_PT + tt.REQ_PT
            ,pm.LAST_MOD_USER_ID = #{lastModUserId, jdbcType=VARCHAR}
            ,pm.LAST_MOD_DT= CURRENT_TIMESTAMP(6)
    </update>

    <select id="selectPtMstListTotalCnt" parameterType="PtSearch"  resultType="Long">
        SELECT
            COALESCE(COUNT(pm.PT_NO), 0)
        FROM T_PT_MST pm
            INNER JOIN T_CONT_MST cm ON cm.CONT_NO = pm.CONT_NO
                    <if test = 'baseDt  != null and baseDt != ""'>
                        AND (STR_TO_DATE(#{baseDt}, '%Y%m%d%H%i%S') BETWEEN cm.START_DT AND cm.END_DT)
                    </if>
                    <if test = 'contStsCd  != null and contStsCd != ""'>
                        AND cm.CONT_STS_CD = #{contStsCd}
                    </if>
        WHERE pm.MEMBER_NO = #{memberNo}
        AND pm.USE_END_DT <![CDATA[ > ]]> CURRENT_TIMESTAMP(6)
        AND pm.EXP_DT <![CDATA[ > ]]> CURRENT_TIMESTAMP(6)
        <if test = 'contNo  != null and contNo != ""'>
            AND pm.CONT_NO = #{contNo}
        </if>
        <if test = 'isuStartDt  != null and isuEndDt != ""'>
            AND (pm.ISU_DT <![CDATA[ >= ]]> #{isuStartDt} AND pm.ISU_DT <![CDATA[ < ]]> #{isuEndDt})
        </if>
        <if test = 'baseDt  != null and baseDt != ""'>
            AND (STR_TO_DATE(#{baseDt}, '%Y%m%d%H%i%S') BETWEEN pm.USE_START_DT AND pm.USE_END_DT)
        </if>
        <if test = 'baseBalPt  != null and !baseBalPt.equals("")'>
            AND pm.BAL_PT <![CDATA[ > ]]> #{baseBalPt}
        </if>
    </select>

    <select id="selectPtMstList" parameterType="PtSearch"  resultType="PtMstEntity">
        SELECT
        T.ROW_NUM AS ROW_NUM
        ,T.*
        FROM
        (
        SELECT
        ROW_NUMBER() OVER(ORDER BY pm.PT_NO) ROW_NUM
        ,pm.PT_NO
        ,pm.MEMBER_PT_NO
        ,pm.MEMBER_NO
        ,pm.CONT_NO
        ,pm.ORG_NO
        ,pm.ISU_DY
        ,pm.ISU_DT
        ,pm.BAL_PT
        ,pm.ISU_PT
        ,pm.ISU_CANCEL_PT
        ,pm.USE_PT
        ,pm.USE_CANCEL_PT
        ,pm.USE_START_DT
        ,pm.USE_END_DT
        ,pm.USE_CANCEL_START_DT
        ,pm.USE_CANCEL_END_DT
        ,pm.EXP_DT
        ,pm.REG_USER_ID
        ,pm.REG_DT
        ,pm.LAST_MOD_USER_ID
        ,pm.LAST_MOD_DT
        FROM T_PT_MST pm
            INNER JOIN T_CONT_MST cm ON cm.CONT_NO = pm.CONT_NO
                    <if test = 'baseDt  != null and baseDt != ""'>
                        AND (STR_TO_DATE(#{baseDt}, '%Y%m%d%H%i%S') BETWEEN cm.START_DT AND cm.END_DT)
                    </if>
                    <if test = 'contStsCd  != null and contStsCd != ""'>
                        AND cm.CONT_STS_CD = #{contStsCd}
                    </if>
        WHERE pm.MEMBER_NO = #{memberNo}
            AND pm.USE_END_DT <![CDATA[ > ]]> CURRENT_TIMESTAMP(6)
            AND pm.EXP_DT <![CDATA[ > ]]> CURRENT_TIMESTAMP(6)
            <if test = 'contNo  != null and contNo != ""'>
                AND pm.CONT_NO = #{contNo}
            </if>
            <if test = 'isuStartDt  != null and isuEndDt != ""'>
                AND (pm.ISU_DT <![CDATA[ >= ]]> #{isuStartDt} AND pm.ISU_DT <![CDATA[ < ]]> #{isuEndDt})
            </if>
            <if test = 'baseDt  != null and baseDt != ""'>
                AND (STR_TO_DATE(#{baseDt}, '%Y%m%d%H%i%S') BETWEEN pm.USE_START_DT AND pm.USE_END_DT)
            </if>
            <if test = 'baseBalPt  != null and !baseBalPt.equals("")'>
                AND pm.BAL_PT <![CDATA[ > ]]> #{baseBalPt}
            </if>
        ORDER BY PT_NO
        ) T
        <if test = 'startIndex != null and endIndex != null '>
            WHERE T.ROW_NUM BETWEEN #{startIndex} AND #{endIndex}
        </if>
    </select>
</mapper>
