<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.albee.albeepoint.mapper.contract.ContMstMapper">
 

    <select id="selectContMstListTotalCnt" 
        parameterType="com.albee.albeepoint.api.contract.dto.ContSearchDto"  resultType="java.lang.Long">
        SELECT
        COUNT(*)
        FROM T_CONT_MST
        WHERE 1 = 1
        <if test = 'contNo  != null and contNo != ""'>
            AND CONT_NO = #{contNo}
        </if>
        <if test = 'contNm  != null and contNm != ""'>
            AND CONT_NM LIKE CONCAT('%', #{contNm}, '%')
        </if>
        <if test = 'orgCd  != null and orgCd != ""'>
            AND CONT_NO IN (SELECT co.CONT_NO
                            FROM T_CONT_ORG co
                                INNER JOIN T_ORG_MST om WHERE om.ORG_CD = #{orgCd} AND co.ORG_NO = om.ORG_NO
                           )
        </if>
    </select>

    <select id="selectContMstList" 
        parameterType="com.albee.albeepoint.api.contract.dto.ContSearchDto"  
        resultType="com.albee.albeepoint.api.contract.dto.ContMstDto">
        SELECT
        T.ROW_NUM AS ROW_NUM
        ,T.*
        FROM
        (
        SELECT
            ROW_NUMBER() OVER(ORDER BY CONT_NO DESC) ROW_NUM
            ,CONT_NO
            ,CONT_NM
            ,PT_TYPE_CD
            ,START_DT
            ,COALESCE(END_DT, TIMESTAMP('29991230')) AS END_DT
            ,ISU_START_DT
            ,COALESCE(ISU_END_DT, TIMESTAMP('29991230')) AS ISU_END_DT
            ,USE_START_DT
            ,COALESCE(USE_END_DT, TIMESTAMP('29991230')) AS USE_END_DT
            ,CONT_REG_DT
            ,USE_START_DT_CALC_TYPE_CD
            ,USE_START_DT_CALC_VAL
            ,USE_PERIOD_CALC_TYPE_CD
            ,USE_PERIOD_CALC_VAL
            ,CONT_STS_CD
            ,MIX_USE_YN
            ,ISU_PERIOD_LIMIT_TYPE_CD
            ,ISU_PERIOD_MAX_PT
            ,ISU_PERIOD_MAX_CNT
            ,ONCE_ISU_LIMIT_TYPE_CD
            ,ONCE_ISU_FIX_PT
            ,ONCE_ISU_PURCHASE_RATE
            ,ONCE_ISU_MIN_PT
            ,ONCE_ISU_MAX_PT
            ,USE_PERIOD_LIMIT_TYPE_CD
            ,USE_PERIOD_MAX_PT
            ,USE_PERIOD_MAX_CNT
            ,ONCE_USE_LIMIT_TYPE_CD
            ,ONCE_USE_FIX_PT
            ,ONCE_USE_PURCHASE_RATE
            ,ONCE_USE_MIN_PT
            ,ONCE_USE_MAX_PT
            ,TOTAL_ISU_LIMIT_TYPE_CD
            ,TOTAL_ISU_ABLE_PT
            ,TOTAL_ISU_ABLE_CNT
            ,MIN_PURCHASE_AMT
            ,REG_USER_ID
            ,REG_DT
            ,LAST_MOD_USER_ID
            ,LAST_MOD_DT
        FROM T_CONT_MST
        WHERE 1 = 1
        <if test = 'contNo  != null and contNo != ""'>
            AND CONT_NO = #{contNo}
        </if>
        <if test = 'contNm  != null and contNm != ""'>
            AND CONT_NM LIKE CONCAT('%', #{contNm}, '%')
        </if>
        <if test = 'orgCd  != null and orgCd != ""'>
            AND CONT_NO IN (SELECT co.CONT_NO
                            FROM T_CONT_ORG co
                                INNER JOIN T_ORG_MST om WHERE om.ORG_CD = #{orgCd} AND co.ORG_NO = om.ORG_NO
                           )
        </if>
        ORDER BY CONT_NO DESC
        ) T
        <if test = 'startIndex != null and endIndex != null '>
            WHERE T.ROW_NUM BETWEEN #{startIndex} AND #{endIndex}
        </if>
    </select>
</mapper>
